---
import { stl } from "helpers/common";

const { url, title } = Astro.props;

const encodedUrl = encodeURIComponent(url);
const encodedTitle = encodeURIComponent(title);
---

<div class="uk-modal uk-flex-top" id="share" data-uk-modal>
  <div class="uk-modal-dialog uk-margin-auto-vertical">
    <div class="uk-modal-body">
      <h2 class="uk-modal-title">Share this story</h2>
      <p
        class="color mt"
        style={stl({ "--color": "var(--uk-muted-f)", "--mt": "2" })}
      >
        Share this story with everyone you know!
      </p>

      <div
        class="mt display-flex gap-x"
        style={stl({ "--mt": "5", "--gap-x": "2" })}
      >
        <input class="uk-input flex-1" type="text" readonly value={url} />
        <button
          class="uk-button uk-button-default uk-button-icon flex-none"
          id="copy"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path
              d="M7 7m0 2.667a2.667 2.667 0 0 1 2.667 -2.667h8.666a2.667 2.667 0 0 1 2.667 2.667v8.666a2.667 2.667 0 0 1 -2.667 2.667h-8.666a2.667 2.667 0 0 1 -2.667 -2.667z"
            ></path>
            <path
              d="M4.012 16.737a2.005 2.005 0 0 1 -1.012 -1.737v-10c0 -1.1 .9 -2 2 -2h10c.75 0 1.158 .385 1.5 1"
            ></path>
          </svg>
        </button>
      </div>

      <ul
        class="mt display-flex gap-x"
        style={stl({ "--mt": "4", "--gap-x": "1" })}
      >
        <li>
          <a
            class="uk-button uk-button-default uk-button-icon"
            href={`https://t.me/share/url?url=${encodedUrl}&text=${encodedTitle}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M15 10l-4 4l6 6l4 -16l-18 7l4 2l2 6l3 -4"></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="uk-button uk-button-default uk-button-icon"
            href={`https://api.whatsapp.com/send?text=${encodedTitle}%20${encodedUrl}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9"></path>
              <path
                d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1"
              ></path>
            </svg>
          </a>
        </li>
        <!-- <li>
          <a
            class="uk-button uk-button-default uk-button-icon"
            href="https://www.facebook.com/dialog/send?link={[LINK_HERE]}&app_id=YOUR_FACEBOOK_APP_ID&redirect_uri={[LINK_HERE]}"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
              class={cls("icon icon-tabler icons-tabler-outline icon-tabler-brand-messenger")}
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M3 20l1.3 -3.9a9 8 0 1 1 3.4 2.9l-4.7 1"></path>
              <path d="M8 13l3 -2l2 2l3 -2"></path>
            </svg>
          </a>
        </li> -->
        <li>
          <a
            class="uk-button uk-button-default uk-button-icon"
            href={`https://snapchat.com/scan?attachmentUrl=${encodedUrl}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.882 7.842a4.882 4.882 0 0 0 -9.764 0c0 4.273 -.213 6.409 -4.118 8.118c2 .882 2 .882 3 3c3 0 4 2 6 2s3 -2 6 -2c1 -2.118 1 -2.118 3 -3c-3.906 -1.709 -4.118 -3.845 -4.118 -8.118zm-13.882 8.119c4 -2.118 4 -4.118 1 -7.118m17 7.118c-4 -2.118 -4 -4.118 -1 -7.118"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="uk-button uk-button-default uk-button-icon"
            href={`https://www.facebook.com/sharer/sharer.php?u=${encodedUrl}`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a
            class="uk-button uk-button-default uk-button-icon"
            href={`https://twitter.com/intent/tweet?text=${encodedTitle}&url=${encodedUrl}&via=@TeamEroHQ`}
            target="_blank"
            rel="noopener noreferrer"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
              <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
              <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
            </svg>
          </a>
        </li>
      </ul>

      <div class="mt" style={stl({ "--mt": "4" })}>
        <button class="uk-modal-close uk-button uk-button-secondary">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<script is:inline define:vars={{ url }}>
  const copyButton = document.getElementById("copy");

  if (copyButton) {
    const urlInput =
      copyButton.parentElement.querySelector('input[type="text"]');

    copyButton.addEventListener("click", async function () {
      try {
        await navigator.clipboard.writeText(url);
        window.UIkit.notification({
          message: "Copied to clipboard!",
          status: "info",
        });
      } catch (err) {
        // Fallback for older browsers
        urlInput.select();
        document.execCommand("copy");
      }
    });
  }
</script>
